.weather {
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
}
.main-card {
  background: #f6f6f6;
}
form {
  margin-bottom: 20px;
}
h1 {
  font-size: 45px;
  text-transform: capitalize;
}
.description {
  font-size: 18px;
  font-weight: bold;
}
#currentDateTime {
  font-size: 16px;
}
.current-location:hover {
  background: green;
}
.today-icon {
  font-size: 70px;
}
.today-temperature {
  font-size: 70px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -35px;
}
#celsius-link {
  text-decoration: none;
}
#farenheit-link {
  text-decoration: none;
}
.extra-info {
  position: relative;
  top: 25px;
}
.min {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
.max {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin-inline-start: 0px;
  margin: 0;
  padding-inline-start: 0;
  color: gray;
}

.forecast {
  margin: 30px 0 20px 0;
}
h5 {
  text-align: center;
}
.card-text {
  text-align: center;
}
.icon {
  font-size: 50px;
}

.temp {
  font-size: 35px;
}
